{$page = $wa->site->page(121)}

{if $page}
<div class="section section__development d-none d-md-block">
    <div class="container">
        <h1 class="section__title">{$page.name}</h1>

        {*$page.content*}

        <div class="stage-items">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="stage-item__container stage-item--01">
                        <div class="stage-item">
                            <div class="stage-item__title">Аудит сайта</div>
                            <div class="stage-item__content">
                                <p>На этом этапе специалисты компании Олимп изучают ресурс, его положение в поисковых системах по поисковым запросам, состояние внутренних и внешних факторов, ссылочную массу и прочие особенности. Далее совместно с заказчиком определяются цели раскрутки: достижение определенной посещаемости и показателей, выход на оговоренные позиции по нужным поисковым запросам в определенные сроки и т. д. </p>
                            </div>
                            <div class="state-item__number"><span>1</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="stage-item__container stage-item--02">
                        <div class="stage-item">
                            <div class="stage-item__title">Определение стоимости раскрутки сайта</div>
                            <div class="stage-item__content">
                                <p>Мы тщательно изучаем конкурентность определенных ранее запросов, состояние ресурса, его положение, а также составляем смету расходов, таких как оплата рекламной кампании, приобретение ссылок и статей на трастовых тематических ресурсах и т. д. Одновременно наши специалисты определяют сроки, необходимые для достижения того или иного результата. Данные о сроках и стоимости передаются заказчику для возможной корректировки и утверждения, после чего мы переходим к следующему этапу. </p>
                            </div>
                            <div class="state-item__number"><span>2</span></div>
                        </div>
                    </div>
                    <div class="stage-item__container stage-item--04">
                        <div class="stage-item">
                            <div class="stage-item__title">Заключение договора</div>
                            <div class="stage-item__content">
                                <p>На основании ранее достигнутых договоренностей касательно сроков и стоимости, мы составляем договор на раскрутку сайта. Договор подписывается представителями рекламного агентства Олимп и заказчиком при встрече, либо высылается для подписи по почте. </p>
                            </div>
                            <div class="state-item__number"><span>4</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="stage-item__container stage-item--03">
                        <div class="stage-item">
                            <div class="stage-item__title">Согласование и утверждение графика оплаты и даты достижения результатов</div>
                            <div class="stage-item__content">
                                <p>Мы работает только белыми методами. Поэтому после предварительной оценки стоимости раскрутки мы совместно с представителем клиента определяем график выплат, а также даты достижения оговоренных заранее результатов. </p>
                            </div>
                            <div class="state-item__number"><span>3</span></div>
                        </div>
                    </div>
                    <div class="stage-item__container stage-item--05">
                        <div class="stage-item">
                            <div class="stage-item__title">Работы по раскрутке сайта и отчетность</div>
                            <div class="stage-item__content">
                                <p>В рамках оговоренных договором услуг, сотрудники компании Олимп производят работы по раскрутке сайта. Результаты работы ежедневно фиксируются специалистами компании, а по итогам каждого месяца составляется подробный отчет, который предоставляется заказчику. Отчет содержит описание выполненных работ и сведения о достигнутых за отчетный период результатах. </p>
                            </div>
                            <div class="state-item__number"><span>5</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/if}