<div class="section section__text-block section__price">
    <div class="container-fluid">
        <div class="section__container">
            <div class="row">
                <div class="col-12 col-xl-auto p-0">
                    <div class="section__picture"><img loading="lazy" itemprop="image" src="{$wa_theme_url}img/text-block.jpg"></div>
                </div>
                <div class="col-12 col-xl p-0 d-xl-flex align-items-center">
                    <div class="section__content">
                        <h1 class="section__title mb-3">Кто мы</h1>
                        <p>Мы – это команда единомышленников, которые объединились в 2005 году, чтобы разрабатывать сайты. Позже к нашим услугам добавилась реклама, техническая поддержка, регистрация товарных знаков и разработка наружной рекламы.</p>
                        <p>Сегодня мы – рекламное агентство широкого спектра. В поле нашей работы находится реклама любого типа – как онлайн, так и офлайн формата. Наш опыт позволяет брать в работу проекты абсолютно разного масштаба. Мы работаем как с крупным сетевым бизнесом, так и с индивидуальными предпринимателями.</p>
                        <p>Наша цель – масштабировать и рекламировать ваш продукт так, чтобы он стал узнаваемым и приносил максимальную прибыль.</p>
                        <p class="lead lead--blue text-speech"><strong>Обращайтесь к нам, и мы покажем, как на самом деле должна работать реклама!</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>