*~
.DS_Store
.idea/
.vscode/

/wa-data/protected
/wa-data/public/*/*
!/wa-data/public/*/themes
!/wa-data/public/*/themes/*
/wa-config
/wa-cache
/wa-log
/wa-sources
.files.md5
/doc
/img
/netcat_files
/q6t3lmm4virusdie
