{strip}
<div class="block">
    <h1>{_w('Logs rotation')}</h1>
    <p>{$message|escape}</p>
    
    <p>
        [`This is Application for logs automatic rotation.`]
    </p>

    <p>
        В ротации задействуются все лог-файлы. Происходит проверка всех файлов логов, если находится новый файл логов,
        то он переименовывается в файл с именем файла оригинального файла и перед расширением <i>.log</i> добавляется индекс 0.
        Все остальные файлы этого лога увеличивают индекс до достижения глубины ротации, указанной в настройках приложения, после чего логи,
        превышающие глубину ротации, удаляются.
    </p>
    <p>
        Если новый лог-файл не обнаружен (нет файла без индекса), то ротация этого лога не происходит.
    </p>

    <p>
        Ротация логов выполняется при запуске команды из консоли или по расписанию (CRON).
    </p>

    <hr>

    <p>
        Настроенная глубина ротации: <span>{$maxCountLogs|escape}</span>
        <br><span class="hint">Изменить глубину ротации можно в настройках приложения.</span>
    </p>
    <div>
        <button type="button" class="button" id="rlogs-action-rotate">Выполнить ротацию</button>
        <img src="{$wa_static_url}wa-content/img/loading16.gif" class="rlogs-process-rotate" style="display: none">
    </div>
</div>
{/strip}