{strip}


<div class="shadowed">
	<div class="block double-padded blank">
		
		{*
		[`This section is under construction ...`] <i class="icon16 loading"></i>
		*}
		
		<h3>[`For the application to work, just two steps are enough`]:</h3>
		<ul>
			<li>
				1. [`Add to file`] <strong>index.html</strong> [`before tag`] <strong>&lt;/body&gt;</strong> [`line`]:
				<br />
				<br />
				<pre>
					{ldelim}if $wa->customizer{rdelim}{ldelim}$wa->customizer->customizer(){rdelim}{ldelim}/if{rdelim}
				</pre>
			</li>
			<li>
				2. [`Install plugins`]
				<br />
				<br />
			</li>
			<li>
				[`Enjoy!`]
			</li>
		</ul>
		
	</div>
</div>


{/strip}