<div class="block" id="km-apometr-{$info['id']}">
    <div id="topvisor_QGC-{$info['id']}"></div>
    <script type="text/javascript" src="https://topvisor.ru/js/widget/apometr/apometr.php?region_action=-1&searcher={$se}&region_key={$city}&div_id=topvisor_QGC-{$info['id']}&charset=utf-8&lang=ru"></script>
</div>

<style>
    #topvisor_apometr {
        width: 100%;
    }
    #topvisor_apometr .topvisor-header {
        height: 20px;
    }
    #topvisor_apometr .topvisor-searcher {
        font-size: 12px;
        line-height: 30px;
    }
    #topvisor_apometr .topvisor-update {
        top: 10px;
    }
    #topvisor_apometr .topvisor-footer {
        line-height: 26px;
    }
    #topvisor_apometr a.topvisor-logo {
        margin-top: 3px;
    }
    #topvisor_apometr .topvisor-graph {
        width: 100px;
    }
    .widget-1x1 #topvisor_apometr .topvisor-searcher {
        margin-left: 5px;
    }
    .widget-1x1 #topvisor_apometr .topvisor-update {
        top: -10px;
        right: -8px;
    }
    .widget-1x1 #topvisor_apometr .topvisor-graph {
        display: none;
    }
    .widget-1x1 #topvisor_apometr a.topvisor-calendar {
        display: none;
    }
</style>
