<div class="section section__sales">
    <div class="human__bg"> </div>
    <div class="container container-lg text-center text-lg-left">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="section__content">
                    <h1 class="section__title">
                        ХОТИТЕ<br>УВЕЛИЧИТЬ<br>ПРОДАЖИ?
                    </h1>
                    <p>
                        Мы точно знаем, как привести Вам клиентов!
                        Оставьте заявку и получите индивидуальное предложение с привлекательной ценой

                    </p><a class="btn btn-red btn-lg" href="#" data-toggle="modal" data-target="#formModal">Оставить заявку</a>
                </div>
            </div>
        </div>
    </div>
</div>